---
---
<div class="container">
    <slot />
</div>

<style>
    .container {
        max-width: 100%;
    }

    @media screen and (min-width: 801px) {
        .container {
            max-width: min(75%, 1200px);
            margin: 0 auto;
        }
    }
</style>