---
import Header from "../components/Header.astro";
import GlobalStyles from "../components/globalStyles.astro";
import { Font } from "astro:assets";
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title} | Brad Preston</title>
    <Font cssVariable="--roboto" />
    <GlobalStyles />
</head>
<body>
    <Header />
    <main>
        <slot />
    </main>
</body>
</html>

<style>
    main {
        padding-top: calc(75px + 2rem);
    }

    @media screen and (min-width: 801px) {
        main {
            padding-top: calc(75px + 4rem);
        }
    }
</style>